.App {
  text-align: center;
  margin: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  margin-top: 40px;
  margin-bottom: 30px;
}

button {
  margin: 10px;
  width: 100px;
  height: 35px;
  border: 0.5px solid darkgray;
  border-radius: 1.5rem;
  box-sizing: border-box;
  text-align: center;
  line-height: 1;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 600;
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
}

button:hover {
  cursor: pointer;
}

.lor {
  margin-top: 20px;
  visibility: hidden;
}

.lesson {
  margin-top: 20px;
  visibility: hidden;
}

button:active {
  background-color: gray;
}

button:hover {
  background-color: lightblue;
}

.classOptions {
  margin-top: 20px;
}

.lessonOptions {
  margin-top: 20px;
}

.leggo {
  margin-top: 40px;
  visibility: hidden;
  width: 150px;
}

.focus {
  background-color: blue;
}

.active {
  background: lightskyblue;
}

.kanji-box {
  border: 1px solid black;
  width: 500px;
  height: auto;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
  border-bottom: 0px;
  display: flex;
  padding: 10px;
  align-items: center;
}

.video {
  float: left;
  width: 50%;
}

.info {
  float: right;
  width: 50%;
}

span {
  display: inline;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.box-a-box {
  align-items: center;
  width: auto;
  justify-content: center;
  display: flex;
}

.ex-jpn:hover {
  cursor: pointer;
}

.ex-jpn {
  width: auto;
  display: inline-block;
}

.ex-eng {
  display: none;
  width: auto;
}

.examples {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: max-content;
  gap: 0 1em;
}

.ex {
  display: flex;
  align-items: left;
  justify-content: left;
}

.example-box {
  border: 1px solid black;
  width: 500px;
  height: auto;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
  display: flex;
  padding: 10px;
}

.play-btn {
  margin: 0px;
  margin-top: 3px;
  margin-right: 15px;
  margin-bottom: 5px;
  width: 15px;
  height: 15px;
  border: 0.5px solid white;
  border-radius: 0;
  box-sizing: border-box;
  line-height: 0;
  background-color: white;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px white;
}

.play-btn:hover {
  background-color: white;
  color: lightsky;
}

.about {
  float: left;
  font-size: small;
  color: gray;
  position: absolute;
  bottom: 5px;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.about:hover {
  cursor: pointer;
  color: lightskyblue;
}

.about-info {
  margin: 30px;
}
